In [9]:
from aind_hcr_data_loader.hcr_dataset import create_hcr_dataset_from_config, HCRDataset
import pandas as pd
from pathlib import Path

# Create HCRDataset
+ Have all datasets of interest attached to `"..\data"`
+ Specify path to config_file

In [10]:
data_dir = Path("/root/capsule/data")
config_path = "/src/aind-hcr-data-loader/src/aind_hcr_data_loader/examples/mouse_config_example.json"

mouse_id = "788639-25" # must be in config file
dataset = create_hcr_dataset_from_config(mouse_id,
                                         data_dir=data_dir,
                                         config_path=config_path)

Warning: spot detection folder not found for round R1
Could not load metadata for mouse 788639-25

In [11]:
dataset.summary()

HCR Dataset Summary
==================
Mouse ID: 788639-25
Rounds: R1

Channels by round:
  R1: 405, 488, 561, 514, 594, 638

Segmentation files by round:
  R1: resolutions 0, 2, centroids: âœ“

File Status:
  R1:
    Spot files: 2 of 2 exist
    Zarr files: 6 of 6 exist
    Segmentation: 2 of 2 masks exist

# Cell x gene

In [13]:
#unmixed_cxg = pd.read_csv(dataset.spot_files["R1"].unmixed_cxg)

mixed_cxg = pd.read_csv(dataset.spot_files["R1"].mixed_cxg)
mixed_cxg.head()

,Unnamed: 0,cell_id,gene,spot_id,volume,centroid,z_centroid,y_centroid,x_centroid,spot_count,z,y,x,z_spots,y_spots,x_spots
0,0,1,Calb1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",99056.0,"[391.5, 204.0, 96.0]",391,204,96,274,329.0,145.0,27.0,329,145,27
1,1,1,Pdyn,[1],99056.0,"[391.5, 204.0, 96.0]",391,204,96,1,329.0,145.0,27.0,329,145,27
2,2,1,Pvalb,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",99056.0,"[391.5, 204.0, 96.0]",391,204,96,55,329.0,145.0,27.0,329,145,27
3,3,1,Sst,"[1, 2]",99056.0,"[391.5, 204.0, 96.0]",391,204,96,2,329.0,145.0,27.0,329,145,27
4,4,1,Vip,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",99056.0,"[391.5, 204.0, 96.0]",391,204,96,309,329.0,145.0,27.0,329,145,27